---
jsfile: 'src/js/components/header.js'
scssfile: 'src/scss/components/header.scss'
---
<header class="header">
  <h1 class="header__title">Sorty: {{default title 'Default header'}}</h1>
  {{> toolbar }}
</header>
