<div class="toolbar">
    <label class="toolbar__label">Thumbnail size</label>
    <div class="toolbar__thumb-size"></div>
    <button class="toolbar__clear btn" disabled><i class="material-icons">cancel</i> Clear selection</button>
    <button class="toolbar__make btn" disabled><i class="material-icons">note_add</i> Make manifest</button>
</div>
