<div class="workspace">
  {{> workspace-tabs }}
  <!-- viewer--done -->
  <!-- viewer--all -->
  <div class="viewer viewer--all">
      <div class="viewer__classify">
          <h3 class="viewer__title">
            <span class="viewer__title--all">Showing all {x} images for {manifest}</span>
            <span class="viewer__title--add">Showing remaining {y} images to be classified for {manifest}</span>
          </h3>
          <p class="viewer__help"></p>
          <div class="thumbs-container">
          </div>
      </div>
      <div class="viewer__classified">
        <!-- {{> manifest-select }} -->
        <h3 class="viewer__classified-title">Showing {x} completed for {manifest}</h3>
        <div class="classified-material">
        </div>
      </div>
  </div>
</div>
