.header {
  background: $black90;
  min-height: 56px;
  overflow: hidden;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;

  &__title {
    color: $white;
    float: left;
    font-size: 1rem;
    line-height: 24px;
    margin: 5px 0 0;
    vertical-align: middle;
  }

  .mfp-modal &,
  .mfp-zoom-out-cur & {
    display: none;
  }
}
