.toolbar {
  float: right;

  &__label,
  &__thumb-size,
  &__clear,
  &__make {
    display: inline-block;
    vertical-align: middle;
  }

  &__label {
    color: $white;
    font-size: .9rem;
    margin-right: 5px;
  }

  &__thumb-size {
    font-size: .9rem;
    margin-right: 50px;
  }

  i {
    vertical-align: middle;
  }
}
