.workspace {
  opacity: 0;
  transition: 1s opacity ease;
  transition-delay: 1s;

  .manifest-loaded & {
    display: block;
    opacity: 1;
  }
}

.viewer {

  &__title--all,
  &__title--add {
    display: none;
  }

  &--all &__title--all,
  &--add &__title--add {
    display: inline-block;
  }

  &__title,
  &__classified-title {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px 20px;
  }

  &__classify,
  &__classified,
  &__saved {
    display: none;
  }

  &--add &__classify,
  &--all &__classify {
    display: block;
  }

  &--done &__classified {
    display: block;
  }

  /*
  &--all {
    .thumb--classified {

    }
  }*/

  &--add {
    .tc--classified {
      display: none;
    }
  }

  &--saved &__saved {
    display: block;
  }
}
