// Primary colour declarations
// - Direct mappings of variable names to colour values
$white: #fff;
$black: #000;
$blue: #5eabed;

$light-grey: #ebebeb;
$selected: #6eccde;
$progress-background: #ddd;
$progress-foreground: $selected;
$highlight: #FFFED5;

$primary: #104E8B;
$black90: rgba(0, 0, 0, .9);
$black50: rgba(0, 0, 0, .5);

// Secondary colour declarations
// - Mapping of features to colour names
