// Primary colour declarations
// - Direct mappings of variable names to colour values
$white: #fff;
$black: #000;
$blue: #5eabed;

$primary: #104E8B;

// Secondary colour declarations
// - Mapping of features to colour names
