---
title: SORTY - login
---

<section class="page page--login">
  <h1>Login</h1>
  <form class="c-form">
    <div class="c-form-field">
        <label class="c-form-field__label">Username<sup>(*)</sup>:</label>
        <input type="text" class="c-form-field__item" name="username" />
    </div>
    <div class="c-form-field">
        <label class="c-form-field__label">Password<sup>(*)</sup>:</label>
        <input class="c-form-field__item" type="password" name="password" />
    </div>
    <div className="c-form__error"></div>
    <input class="c-form-submit btn" type="submit" value="Login" />
  </form>
</section>